/Test/nbproject/private/
/Test/build/
/S0_1_Java_Intro/nbproject/private/
/S0_1_Java_Intro/build/
/S0_1_Java_Intro/dist/
/_S0_1_Java_Intro/nbproject/private/
/_S0_1_Java_Intro/dist/
/_S0_1_Java_Intro/build/
/S1_0_Lists/nbproject/private/
/S1_0_Lists/build/
/S1_1_sets_i_lists/ExerciciMapLlibre/target/
/_S1_0_Lists/build/
/S2_maps/Demo_maps/nbproject/private/
/S2_maps/Demo_maps/build/
